
<div class="loadAnim">
  <div class="loadAnim__inner">

    <%/*welcome*/%>
    <div class="welcome">
      <div class="welcome__inner">
        <span class="welcome__text">W</span>
        <span class="welcome__text">E</span>
        <span class="welcome__text">L</span>
        <span class="welcome__text">C</span>
        <span class="welcome__text">O</span>
        <span class="welcome__text">M</span>
        <span class="welcome__text">E</span>
      </div>
    </div>
    <%/*welcome*/%>

    <%/*animText*/%>
    <div class="animText">
      <div class="animText__inner">
        <div class="animText__row">
          <span class="animText__main">css aninmations</span>
        </div>

        <div class="animText__row">
          <span class="animText__main">nanaki14</span>
        </div>
      </div>
    </div>
    <%/*animText*/%>

    <%/*animBorder*/%>
    <div class="animBorder">
      <div class="animBorder__inner">
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
      </div>
    </div>
    <%/*animBorder*/%>

  </div>
</div>
