.article__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  transform: translateX(15px);
  overflow: auto;
}

.article__unit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 850px;
}

.article {
  width: 400px;
  height: 400px;
  margin: 25px 0;
  border: 2px solid $base-color;
  transform: rotate(45deg);
  cursor: pointer;

  &:nth-child(-n+2) {
    margin-top: 90px;
  }
  &:nth-child(2n+1) {
    margin-right: 50px;
  }
  &:nth-last-child(-n+2) {
    margin-bottom: 100px;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation: .35s #{9.6 + (($i - 1)/10)}s articleRotate cubic-bezier(.42,.52,.18,1) both;
    }
  }
}

.article__inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 150 $base-color inset;
  animation: .4s 9s articleShadow cubic-bezier(.42,.52,.18,1) both;
}
