<div class="about">
  <div class="about__inner">
    <h1 class="about__title">css aninmations</h1>

    <p class="about__author"><a data-author="nanaki14" href="https://twitter.com/nanaki14" target="_blank">nanaki14</a></p>

    <p class="about__copy">© 2017 nanaki14</p>
  </div>
</div>
