<div class="animate05">
  <div class="text__row">
    <span class="text__cell"><span>HELLOWORLD!!!</span></span>
  </div>
  <div class="text__row">
    <span class="text__cell delay1"><span>KONBAWAN</span></span>
  </div>
  <div class="text__row">
    <span class="text__cell delay2"><span>YOROSHIKUONEGAISHIMASU</span></span>
  </div>
</div>
