<div class="animate01">
  <div class="text__row">
    <span class="text__cell">H</span>
    <span class="text__cell">E</span>
    <span class="text__cell">L</span>
    <span class="text__cell">L</span>
    <span class="text__cell">O</span>
  </div>
  <div class="text__row">
    <span class="text__cell">W</span>
    <span class="text__cell">O</span>
    <span class="text__cell">R</span>
    <span class="text__cell">L</span>
    <span class="text__cell">D</span>
    <span class="text__cell">！</span>
    <span class="text__cell">！</span>
  </div>
</div>
