
<div class="animate02">
  <div class="text__row">
    <span class="text__cell">Hello</span>
  </div>
  <div class="text__row">
    <span class="text__cell">I am nanaki</span>
  </div>
  <div class="text__row">
    <span class="text__cell">Thanks for coming</span>
  </div>
</div>
