<% var root = './'
%><% var meta = {
    title:'css aninmations',
    desc:'It is a web page that summarizes my animation'
}; %><% var og = {
    title:'css aninmations',
    desc:'It is a web page that summarizes my animation',
    type:'website',
    url:'',
    image:''
}; %><% include assets/_include/_head %>
<% include assets/_include/_l-header %>

<main class="main">
  <div class="main__inner">

    <div class="article__wrap">
      <div class="article__unit">
      <article class="article">
        <div class="article__inner">
          <% include assets/_include/_component/_animate01 %>
        </div>
      </article>
      <article class="article">
        <div class="article__inner">
          <% include assets/_include/_component/_animate02 %>
        </div>
      </article>
      <article class="article">
        <div class="article__inner">
          <% include assets/_include/_component/_animate03 %>
        </div>
      </article>
      <article class="article">
        <div class="article__inner">
          <% include assets/_include/_component/_animate04 %>
        </div>
      </article>
      <article class="article">
        <div class="article__inner">
          <% include assets/_include/_component/_animate05 %>
        </div>
      </article>
      <article class="article" style="cursor: inherit;">
        <div class="article__inner">
          <% include assets/_include/_component/_about %>
        </div>
      </article>
    </div>
    </div>

  </div>
</main>

<% include assets/_include/_loadAnim %>

<% include assets/_include/_l-footer %>

<!-- javascript -->
<% include assets/_include/_script %>
<% include assets/_include/_foot %>
