<% var root = './'
%><% var meta = {
    title:'css aninmations',
    desc:'It is a web page that summarizes my animation'
}; %><% var og = {
    title:'css aninmations',
    desc:'It is a web page that summarizes my animation',
    type:'website',
    url:'',
    image:''
}; %><% include assets/_include/_head %>
<% include assets/_include/_l-header %>

<main class="main">
  <div class="main__inner">

    <div class="article__unit">
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
      <article class="article">
        <div class="article__inner">

        </div>
      </article>
    </div>

  </div>
</main>

<div class="loadAnim">
  <div class="loadAnim__inner">

    <%/*welcome*/%>
    <div class="welcome">
      <div class="welcome__inner">
        <span class="welcome__text">W</span>
        <span class="welcome__text">E</span>
        <span class="welcome__text">L</span>
        <span class="welcome__text">C</span>
        <span class="welcome__text">O</span>
        <span class="welcome__text">M</span>
        <span class="welcome__text">E</span>
      </div>
    </div>
    <%/*welcome*/%>

    <%/*animText*/%>
    <div class="animText">
      <div class="animText__inner">
        <div class="animText__row">
          <span class="animText__main">css aninmations</span>
        </div>

        <div class="animText__row">
          <span class="animText__main">nanaki14</span>
        </div>
      </div>
    </div>
    <%/*animText*/%>

    <%/*animBorder*/%>
    <div class="animBorder">
      <div class="animBorder__inner">
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
        <span class="animBorder__main"></span>
      </div>
    </div>
    <%/*animBorder*/%>

  </div>
</div>

<% include assets/_include/_l-footer %>

<!-- javascript -->
<% include assets/_include/_script %>
<% include assets/_include/_foot %>
